/* background-color */
.bgAzulClaroSuam{
    background-color: #0F96AE;
}
.bgAzulEscuroSuam{
    background-color: #004070;
}
.bgLaranjaClaroSuam{
    background-color: #EF7D00;
}
.bgLaranjaEscuroSuam{
    background-color: #EA5A33;
}
.bgAmareloClaroSuam{
    background-color: #F5C200;
}
.bgBranco{
    background-color: #ffffff;
}
.bgPreto{
    background-color: #000000;
}
.bgBrancoClaro1{
    background-color: #666666;
}
.bgBrancoClaro2{
    background-color: #999999;
}
.bgBrancoClaro3{
    background-color: #c9c9c9;
}
.bgBrancoClaro4{
    background-color: #e0e0e0;
}
.bgBrancoClaro5{
    background-color: #f0f0f0;
}

/* border-color */
.bdAzulClaroSuam{
    border-color: #0F96AE;
}
.bdAzulEscuroSuam{
    border-color: #004070;
}
.bdLaranjaClaroSuam{
    border-color: #EF7D00;
}
.bdLaranjaEscuroSuam{
    border-color: #EA5A33;
}
.bdAmareloClaroSuam{
    border-color: #F5C200;
}
.bdBranco{
    border-color: #ffffff;
}
.bdPreto{
    border-color: #000000;
}
.bdBrancoClaro1{
    border-color: #666666;
}
.bdBrancoClaro2{
    border-color: #999999;
}
.bdBrancoClaro3{
    border-color: #c9c9c9;
}
.bdBrancoClaro4{
    border-color: #e0e0e0;
}
.bdBrancoClaro5{
    border-color: #f0f0f0;
}

/* color */
.txtAzulClaroSuam{
    color: #0F96AE;
}
.txtAzulEscuroSuam{
    color: #004070;
}
.txtLaranjaClaroSuam{
    color: #EF7D00;
}
.txtLaranjaEscuroSuam{
    color: #EA5A33;
}
.txtAmareloClaroSuam{
    color: #F5C200;
}
.txtBranco{
    color: #ffffff;
}
.txtPreto{
    color: #000000;
}
.txtBrancoClaro1{
    color: #666666;
}
.txtBrancoClaro2{
    color: #999999;
}
.txtBrancoClaro3{
    color: #c9c9c9;
}
.txtBrancoClaro4{
    color: #e0e0e0;
}
.txtBrancoClaro5{
    color: #f0f0f0;
}