*{
  box-sizing: border-box;
  margin: 0;
}
body{
	background:url(img/background/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
input, textarea{
  border: solid 1px #00000000;
  border-radius: 5px;
}



.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(img/background/BackgroundTopo2.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
}


.validacoes{
  width: 50vw;
  height: calc(100vh - 109px);
  margin: 20px auto;
  padding: 15px 10px;
  display: flex;
  border-radius: 15px;
}

.validadores{
  margin: auto;
  font-size: 20px;
  background-color: #0000005b;
  border-radius: 10px;
  padding: 25px;
}
.validador{
  margin: auto;
  padding: 15px 5px;
  display: flex;
}
.nome{
  padding-right: 5px;
  color: #ffffff;
  margin: auto;
}
.matricula{
  font-size: 18px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 5px;
}
.buscar{
  font-weight: bold;
  margin: auto;
  background-color: #EF7D00;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}



.disciplinas{
  width: 50vw;
  height: calc(100vh - 109px);
  margin: 20px auto;
  padding: 15px 10px;
  display: flex;
  border-radius: 15px;
}
.divTabela{  
  margin: auto;
}
.tabela{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
}
tr th{
  color: #ffffff;
  border-radius: 1px;
  padding: 7px 10px;
  font-size: 17px;
}
tr td{
  color: #000000;
  border-radius: 1px;
  padding: 5px 10px;
  font-size: 15px;
}
.descricaoCurso{
  width: 25%;
}
.descricaoPeriodo,.descricaoCodigo{
  width: 15%;
}
#tabelaAL .descricaoCodigo{
  width: 25%;
}
.descricaoCurso, .descricaoPeriodo, .descricaoCodigo{
  text-align: center;
}

.informacaoAlunoSemProva{
  padding: 10px;
  background-color: #EF7D00;
  color: #ffffff;
  font-size: 18px;
}
.informacaoSemProva:first-child{
  font-weight: bolder;
  margin: 10px 0px;
}
.informacaoSemProva{
  margin: 10px 10px;
}

.divVoltar{
  display: flex;
  padding-top: 20px;
}
.campoVoltar{
  display: flex;
  margin: auto;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #EF7D00;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
}


.displayNone{
  display: none;
}
.nomeVoltar{
  margin: auto 0px;
}



.par{
  background-color: #F0F0F0;
}
.impar{
  background-color: #E0E0E0;
}

@media only screen and (max-width: 915px){
  .widthGeral{
    width: 800px;
  }
  #div1, #div3{
    overflow: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 815px){
  #div1, #div3{
    overflow: scroll;
    width: 100%;
  }
}